a{
  text-decoration: none;
}

li{
  list-style: none;
}

.header{
  background-color: #FFFFFF;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  background-color: #FFFFFF;
  height: 100%;
  width: 100%;
  margin-left: 10%;
}

img.img-logo{
  width: 100%;
  height: 100%;
}

.header-right{
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0 10%;
}
.tel {
  height: 20vh;
  width: 15vW;
}

.tel img{
  height: 100%;
  width: 100%;
}

.access{
  height: 10vh;
  width: 12vw;
}

.access img{
  height: 100%;
  width: 100%;
}

.access a{
  font-size: 30px;
  color: rgb(254, 2, 2);
  line-height: 100%;
}

/* top_page */
.header-nav{
  background-color: pink;
  height: 10vh;
  line-height: 10vh;
}

.header-lists{
  display: flex;
  justify-content: space-around;
  height: 100%;
  background-color: black;
}

.header-list{
  font-size: 20px;
}

.header-list a{
  color: #FFFFFF;
}
/* top_page */