a{
  text-decoration: none;
}

.header{
  background-color: black;
  height: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  background-color: aqua;
  height: 100%;
  width: 100%;
  margin-left: 10%;
}

img.img-logo{
  width: 40%;
  height: 100%;
}

.header-right{
  background-color: brown;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0 10%;
}

.tel{
  background-color: lightgreen;
  height: 100%;
  line-height: 10vh;
  margin-left: 20%;
}

.access{
  background-color: blue;
  height: 100%;
  line-height: 10vh;
}
/* top_page */
/* top_page */